
  

h5 {
  color: blueviolet;
  font-style: italic;
  padding: 20px;
  text-align: center;
}

.love {
  font-size: 5em;
  text-align: center;
  padding: 10px;
}
button {
  padding: 20px;
  border-radius: 30px;
  background-color: blueviolet;
  transition: all 250ms ease-in-out;
}
button:hover{
    background: transparent;
    cursor: pointer
    ;
}
.mom {
  padding: 10px;
  text-align: center;
  font-size: larger;
}
label {
  font-size: 3em;
}
